<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="style.css" />
    <!-- Adicione seu CSS -->
  </head>
  <body>
    <h1>Login</h1>
    <form id="login-form">
      <input type="email" id="email" placeholder="Email" required />
      <input type="password" id="password" placeholder="Senha" required />
      <button type="submit">Entrar</button>
    </form>
    <p id="error-message" style="color: red"></p>
    <br />
    <a href="#" id="go-to-register">Não tem uma conta? Cadastre-se</a>
    <script src="../renderer/login.js"></script>
  </body>
</html>
