<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="auth-container">
      <h1>Criar Conta</h1>
      <form id="register-form">
        <input
          type="email"
          id="email"
          placeholder="Seu melhor e-mail"
          required
        />
        <input
          type="password"
          id="password"
          placeholder="Crie uma senha forte"
          required
        />
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <button type="button" id="exit-app-btn" class="btn btn-secondary">
          Sair
        </button>
      </form>
      <p id="message" style="color: red"></p>
      <a href="#" id="go-to-login">Já tem uma conta? Faça login</a>
      <script src="../renderer/register.js"></script>
    </div>
  </body>
</html>
